---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
        title="Contact Me"
        description="Lorem ipsum dolor sit amet"
        pubDate={new Date()}
        heroImage="/blog-placeholder-about.jpg"
>
    <section class="contact">
        <form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="/thanks">
            <input type="hidden" name="form-name" value="contact" />

            <p hidden>
                <label>Ne pas remplir ce champ : <input name="bot-field" /></label>
            </p>

            <div>
                <label for="name">Nom</label>
                <input type="text" id="name" name="name" required />
            </div>

            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required />
            </div>

            <div>
                <label for="message">Message</label>
                <textarea id="message" name="message" required></textarea>
            </div>

            <button type="submit">Envoyer</button>
        </form>
    </section>
</Layout>
