---
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="Thanks for your message"
        description="Lorem ipsum dolor sit amet"
        pubDate={new Date('August 08 2021')}
        heroImage="/blog-placeholder-about.jpg"
>
        <h1>Merci pour votre message !</h1>
        <p>Nous vous répondrons dès que possible.</p>
</Layout>
